@import "tailwindcss";

:root {
  --background-color: #faf9fe;
  --primary-color: #15171a;
  --secondary-color: #8e44fd;
  --accent-color: #375ece;
  --border-color: #1e4acb;
  --card-bg: #ffffff;
}

@theme inline {
  --color-primary: var(--primary-color);
  --color-background: var(--background-color);
  --color-secondary: var(--secondary-color);
  --color-border: var(--border-color);
  --bg-card: var(--card-bg);
}

html,
body {
  font-family: "Poppins", sans-serif;
  @apply bg-background text-primary;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
